
@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
    .progress {
        height: 20px;
        background: #e3e3e3;
        border-radius: 0;
        box-shadow: none;
        overflow: visible;
        margin-bottom: 5px;
        width: 160px;
    }

    .progress-title {
        float: left;

        font-weight: 700;
        color: #000;
        margin: 0 0 15px 30px;
        width: 100px;
    }
    .progress .progress-bar {
        position: relative;
        -webkit-animation: animate-positive 2s;
        animation: animate-positive 2s;
    }
    .progress .progress-bar:after {
        content: '';
        width: 1px;
        height: 50px;
        position: absolute;
        top: -39px;
        right: 0;
    }
    .progress .progress-value {
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        position: absolute;
        top: -30px;
        right: 10px;
    }
    .progress.green .progress-bar,
    .progress.green .progress-bar:after {
        background: #008000;
    }
    .progress.blue .progress-bar,
    .progress.blue .progress-bar:after {
        background: #25a9ff;
    }

    @-webkit-keyframes animate-positive {
        0% {
            width: 0%;
        }
    }
    @keyframes animate-positive {
        0% {
            width: 0%;
        }
    }
    
    .image-upload-wrap {
    width: 53%;
    height: 225px;
    margin: 0 auto;
    border: 1.5px dashed #35465d;
    object-fit: contain;
    background-color: #ffffff;
    position: relative;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    .switch {
    background-color: white;
    width: 69px;
    height: 26px;
    /* position: absolute; */
    border-radius: 30px;
    border: 1.5px solid #ccc;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.switch::before,
.switch::after {
    content: '';
    width: 25px;
    height: 25px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: -5%;
    left: 0%;
    transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
    transform-origin: right center;
}
.switch::before {
    border: 1px solid lightblue;
}
.switch::after {
    background: #fbd3e1;
    border: 1px solid pink;
}
input:checked + .switch:before {
    background: #d3f0fb;
    transform: translateX(165%);
    border: 1px solid pink;
}
input + .switch .female {
    color: pink;
    font-weight: bold;
}
input:checked + .switch .male {
    color: lightblue;
}
input + .switch .male {
    color: #ccc;
    font-weight: bold;
}
input:checked + .switch .female {
    color: #ccc;
}
input:checked + .switch:after {
    background: #d3f0fb;
    transform: translateX(165%);
    border: 1px solid lightblue;
}
.female,
.male {
    position: absolute;
    font-weight: lighter;
    color: #ccc;
}
.female {
    z-index: -1;
    top: -45%;
    left: 111%;
    font-size: 25px;
}
.male {
    z-index: -1;
    top: -45%;
    left: 111%;
    font-size: 25px;
}
a .i1 {
    width: 10vh;
    position: absolute;
    /* right: 3%; */
    top: 30%;
    text-decoration: none;
    color: #ccc;
    font-size: 2vw;
    margin-left: 140px;
    animation: bounce 2s alternate infinite;
}

.i2 {
    width: 52px;
    float: right;
}

.blog-link {
    width: 30px;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
/*CSS Loader #7*/

.load-container {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 66px;
    height: 120px;
}

.outer-ring {
    color: #fff;
    position: relative;
    border-radius: 50%;
    border: 5px solid #eee;
    z-index: 1000;
    width: 70px;
    height: 70px;
    box-shadow: 1px rgba(0, 0, 0, 0.2);
    animation: spiner 1s infinite linear;
}
.inner-ring {
    position: relative;
    margin-top: 8px;
    background-color: dodgerblue;
    width: 20px;
    height: 20px;
    z-index: 1001;
    border: 1px solid transparent;
    border-radius: 50%;
}

@keyframes spiner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
    
    
    
    
    
    
}